[connectivity]
nk = setup_aie:1:setup_aie_0
nk = sink_from_aie:1:sink_from_aie_0

slr = setup_aie_0:SLR0
slr = sink_from_aie_0:SLR0

sp = sink_from_aie_0.m_axi_gmem1:MC_NOC0
sp = setup_aie_0.m_axi_gmem0:MC_NOC0

stream_connect = setup_aie_0.s:ai_engine_0.in_plio_kmeans
stream_connect = ai_engine_0.out_plio_kmeans:sink_from_aie_0.input_stream

[vivado]
# use following line to improve the hw_emu running speed affected by platform
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={-override_timeprecision -timescale=1ns/1ps}

